/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    background-image: url('img/bgf.png');
    background-size: cover; /* Faz com que a imagem cubra a tela inteira */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Garante que a imagem de fundo não se mova ao rolar */
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

/* Container central para garantir uma largura máxima */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/* Cabeçalho com cor mais corporativa */
header {
    background-color: #004d40; /* Verde escuro */
    color: white;
    padding: 25px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Formulários */
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    transition: border 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #004d40;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

button:hover {
    background-color: #00332a; /* Cor mais escura no hover */
}

button:active {
    background-color: #00251a; /* Cor ao pressionar o botão */
}

/* Estilo da mensagem de erro */
.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
}

/* Estilo para a página de login */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #004d40;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    table th,
    table td {
        font-size: 0.9rem;
    }

    header h2 {
        font-size: 1.8rem;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    textarea,
    button {
        padding: 12px;
    }
}
